.demo-image-preview {
    position: relative;
    text-align: center;
}

.demo-image-preview>img {
    width: 100%;
}

@media(max-width:768px) {
    .demo-image-preview>img {
        width: 260px;
    }
}

.react-html5-camera-photo>img,
.react-html5-camera-photo>video {
    width: 260px !important;
}

/* fullscreen enable by props */
.demo-image-preview-fullscreen>img {
    width: 100vw;
    height: 100vh;
}